* {
    margin: 0;
}

body {

    background-color: #dc91d2;
    height: 850px;
}

header {

    width: 100%;
    height: 15vh;
    background-color: #040148;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MiStoreRDLogo {

    height: 15vh;
    width: 200px;

}

#Logo {

    width: 95%;
    height: 100%;

}

a {

    text-decoration: none;
    color: white;
}

a:hover {
    color: #dc91d2;
}

.links {

    color: white;
}

.CajaLinks {

    width: 250px;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    font-style: italic;
}

.lin {

    height: 5px;
    width: 100%;
    background-color: white;
}

.linea2 {

    margin-top: 50px;
}

main {

    display: flex;
    width: 100%;
    height: 70vh;
}

.panelizquierdo {

    height: 100%;
    width: 30%;
    border-radius: 5%;
    margin-top: 1%;
    margin-left: 1%;


}

.panelsemicentro {

    height: 100%;
    width: 65%;
    border-radius: 5%;
    margin-top: 1%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040148;
}

h1 {

    color: white;
    margin-top: 10%;
}

video {

    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-color: #040148;

}

.cartas {

    width: 30%;
    height: 80%;
    background-color: #040148;
    border-radius: 5%;

}

.cartas:hover {

    border: 5px solid white;
}

.fondocartas {

    width: 95%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.productos {

    height: 100%;
    width: 100%;
    border-radius: 3%;

}

.cajacarrusel {

    width: 60%;
    height: 50vh;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 5%;
}

.carrusel {

    width: 34.3%;
    height: 100%;
    margin: auto;
    display: flex;
    overflow: hidden;

}

.imagencarrusel {

    width: 1640%;
    height: 100%;
    animation: mover 20s infinite steps(10);


}



/*Parte de los productos*/

.contenedorproductos {

    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 1300px;
}

.cajasproductos {

    width: 300px;
    height: 350px;
    background-color: #040148;
    border: 2px solid white;
    border-radius: 5%;
    transition: transform 0.5s;
}

.productosgeneral {

    width: 100%;
    height: 100%;
    border-radius: 4%;
}

.Obtener {

    width: 100%;
    height: 6vh;
    background-color: white;
    color: white;
    border-radius: 5%;
    margin-top: 10px;
    border-style: none;
}

.ObtenerP {

    background-color: #dc91d2;
}

.a2 {
    color: #040148;
}

/*Parte de Sobre Nosotros*/

.mision {

    width: 1440;
    height: 10%;
    background-color: #040148;
    color: #dc91d2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 80px;
}

.misiontexto {
    width: 100%;
    height: 20%;
    background-color: #dc91d2;
    color: #040148;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vision {

    width: 1440;
    height: 10%;
    background-color: #040148;
    color: #dc91d2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
}

.valores {

    width: 1440;
    height: 10%;
    background-color: #040148;
    color: #dc91d2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
}

.pptext {

    color: #040148;
}

.misiontexto2 {

    display: flex;
    justify-content: space-evenly;
}

.lista {
    display: flex;

    flex-direction: column;
}

/*Parte de contactanos*/
.contactanos {

    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.centrocontacto {

    display: flex;
    flex-direction: column;
    width: 48%;
    height: 470px;
    border-radius: 5%;

}

.informacion {

    width: 100%;
    height: 100%;
    border-style: none;
    border: 2px solid #dc91d2;
}

textarea {

    margin: 5px;
    border-style: none;
    border: 2px solid #040148;

}

.input1 {
    margin: 5px;
    border-style: none;
    height: 10%;
    width: 97.5%;
    border: 2px solid #040148;
}

h2 {

    margin: 10px;
    color: #040148;
}

iframe {
    margin: auto;
    width: 100%;
    height: 90%;
}

/*Hovers y animaciones generales*/
.Obtener:hover {

    background-color: purple;
    color: #040148;
    border: 2px solid black;
}

textarea:focus {

    background-color: #040148;
    color: #dc91d2;
}

.input1:focus {

    background-color: #040148;
    color: #dc91d2;
}

@keyframes mover {

    0%,
    10% {

        transform: translateX(0);
    }

    11%,
    20% {

        transform: translateX(-292px);

    }

    21%,
    30% {
        transform: translateX(-584px);

    }

    31%,
    40% {

        transform: translateX(-876px);
    }

    41%,
    50% {

        transform: translateX(-1168px);

    }

    51%,
    60% {
        transform: translateX(-1460px);

    }

    61%,
    70% {

        transform: translateX(-1752px);
    }

    71%,
    80% {

        transform: translateX(-2044px);

    }

    81%,
    90% {
        transform: translateX(-2336px);

    }

    91%,
    100% {
        transform: translateX(-2628px);

    }
}

.cajasproductos:hover {
    border: 2px solid #040148;
    transform: translateY(10px);
}

@keyframes moverimagenes {



}
/*Parte del Responsive*/
@media screen and (max-width: 480px) {

    .misiontexto{

        font-size: 1.1rem;
    }
    .MiStoreRDLogo{
        width: 150px;
        height: 10vh;
    }
    video{
        height: 90%;
    }
    .panelsemicentro{
        height: 90%;
    }
    .Obtener{
        width: 100%;
        height: 4vh;
    }
    .productos{
        height: 75%;
    }
    .cajacarrusel{

        height: 12vh;
        width: 55%;

    }
    body{
        display: flex;
        flex-direction: column;
       
        
    }
    .contenedorproductos{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        align-items: center;
        height: 150%;

    }
    .cajasproductos{

        width: 90px;
        height: 130px;
        margin-top: 130px;

    }
    .informacion{

        width: 100%;
        height: 150%;

    }
    .centrocontacto{

        height: 75%;
        width: 100%;
    }
    .contactanos{
        height: 50%;
    }
    inframe{

        width: 10%;
        height: 10%;
    }

    
    
}
@media screen and (max-width: 960px) {

    .misiontexto{

        font-size: 1.1rem;
    }
    .MiStoreRDLogo{
        width: 150px;
        height: 10vh;
    }
    video{
        height: 90%;
    }
    .panelsemicentro{
        height: 90%;
    }
    .Obtener{
        width: 100%;
        height: 4vh;
    }
    .productos{
        height: 75%;
    }
    .cajacarrusel{

        height: 12vh;
        width: 55%;

    }
    body{
        display: flex;
        flex-direction: column;
       
        
    }
    .contenedorproductos{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        align-items: center;
        height: 150%;

    }
    .cajasproductos{

        width: 90px;
        height: 130px;
        margin-top: 130px;

    }
    .informacion{

        width: 100%;
        height: 150%;

    }
    .centrocontacto{

        height: 75%;
        width: 100%;
    }
    .contactanos{
        height: 50%;
    }
    inframe{

        width: 10%;
        height: 10%;
    }

    
    
}
